@page "/inventories"
@using Inventory_Hub.WebApp.Components.Controls


<h3>Inventory List</h3>
<br />
<br />

<EditForm Model="SearchTermInventory" FormName="SearchTermInventory">
    
    <div class="input-group">
        <InputText class="form-control" placeholder="Search..." @bind-Value="SearchTermInventory">
        </InputText>
        <button type="submit" class="btn btn-success input-group-text">Search</button>
    </div>

</EditForm>
<br/>

<InventoryListComponent SearchTerm="@SearchTermInventory" />
<br/>
<a href="/addinventory" class="btn btn-primary">
    Add Inventory
</a>

@code {
    [SupplyParameterFromForm]
    private string? SearchTermInventory { get; set; } = string.Empty;
}
