@page "/inventories"
@using Inventory_Hub.WebApp.Components.Controls


<h3>Inventory List</h3>
<br />
<br />

<SearchComponent OnSearch="HandleSearch"></SearchComponent>
<br/>

<InventoryListComponent SearchTerm="@searchTermInventory" />
<br/>
<a href="/addinventory" class="btn btn-primary">
    Add Inventory
</a>

@code {

    private string? searchTermInventory;

    private void HandleSearch(string searchFilter)
    {
        searchTermInventory = searchFilter;
    }
}
