@page "/inventories"
@using Inventory_Hub.WebApp.Components.Controls


<h3>Inventory List</h3>
<br />
<br />

<InventoryListComponent/>
<br/>
<a href="/addinventory" class="btn btn-primary">
    Add Inventory
</a>

@code {

}
