@page "/"


@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Home</PageTitle>

 
<br/>
<br/>
<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach (var inventory in inventories)
        {
            <li>
                @inventory.InventoryName
            </li>
        }
    }
</ul>


@code
{
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }

}
