@page "/purchase"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@rendermode InteractiveServer



<h3>Purchase Inventory</h3>

<AutoCompleteComponent Label="Inventory"
                       SearchFunction="SearchInventory"
                       OnItemSelected="HandleItemSelected">

</AutoCompleteComponent>

@code {

    private AutoCompleteComponent.ItemViewModel? selectedItem;

    private List<AutoCompleteComponent.ItemViewModel>? SearchInventory(string name)
    {
       var list =  ViewInventoriesByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null)
        {
            return null;
        }

        return list.Select(d => new AutoCompleteComponent.ItemViewModel { Id = d.InventoryId, Name = d.InventoryName }).ToList();
    }

    private void HandleItemSelected(AutoCompleteComponent.ItemViewModel model)
    {
        this.selectedItem = model;
    }

}
