<h3>Search Inventory</h3>

<EditForm Model="SearchFilter" FormName="FormSearch" OnSubmit="Search">

    <div class="input-group">
        <InputText class="form-control" placeholder="Search..." @bind-Value="SearchFilter">
        </InputText>
        <button type="submit" class="btn btn-success input-group-text">Search</button>
    </div>

</EditForm>

@code {
    [SupplyParameterFromForm]
    private string? SearchFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void Search()
    {
        OnSearch.InvokeAsync(SearchFilter);
    }
}
